
/*  

this how to use the default colors our website

   
this how they are defined 

    --background-color: #000123;
    --secondary-color: #ff0f7b;
    --primary-color: #ffffff;

this is how to use them
    body {

        background-color: var(--background-colo);  this will make  the background purple
        
    }

*/