.blog-post-list-container {
  padding: 10px;
  max-width: 900px;
  margin: auto;
}

.blog-post-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.blog-post-search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.blog-post-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-post-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.blog-post-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.blog-post-author {
  font-size: 1rem;
  color: #555;
  font-style: italic;
}

.blog-post-intro {
  color: #444;
  font-size: 1.1rem;
}

.blog-post-read-more-btn {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.blog-post-read-more-btn:hover {
  background-color: #9d1734;
}

/* Styles for expanded blog post */
.expanded-blog-post {
  padding: 1rem;
  border-radius: 8px;
  width: 90%;
  margin: auto;
}

.expanded-blog-post-title {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #333;
}

.expanded-blog-post-author {
  font-size: 1.1rem;
  color: #555;
  font-style: italic;
}

.expanded-blog-post-createdAt {
  font-size: 1rem;
  color: #777;
  margin-bottom: 20px;
}

.expanded-blog-post-content {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.expanded-blog-post-conclusion {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
}

.expanded-blog-post-read-more-btn {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.expanded-blog-post-read-more-btn:hover {
  background-color: #ac152f;
}

/* Hide search and other posts when one post is expanded */
.blog-post-card-container {
  display: flex;
  flex-direction: column;
}

.blog-post-card-container .blog-post-card {
  display: block;
}

.blog-post-list-container input {
  display: block;
}

.expanded-blog-post {
  display: block;
}