/* Projects Section Styles */
.projects-section {
  padding: 80px 20px;
  background-color: #f8f9fa;
  text-align: center;
}

.project-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.project-card {
  padding: 20px;
  border-top: 2px  solid var(--secondary-color);
  background-color: #fff;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}
